@import url('./layout/normalize.css');
@import url('./layout/base.css');

@import url('./blocks/main-info.css');
@import url('./blocks/header.css');
@import url('./blocks/logo.css');
@import url('./blocks/nav.css');
@import url('./blocks/contacts.css');

@import url('./blocks/additional-info.css');
@import url('./blocks/aside.css');
@import url('./blocks/main.css');
@import url('./blocks/education.css');
@import url('./blocks/skills.css');
@import url('./blocks/interships.css');
@import url('./blocks/experience.css');

@import url('./blocks/code.css');
@import url('./blocks/footer.css');
@import url('./blocks/social.css');